{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-transparent">Searching</div>
            <div class="card-body">
              You are looking for a job now...
            </div>
        </div>
    </div>
</div>
{% endblock %}
